HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Configuration for the multi-module project ### 
backend/src/main/resources/public/
backend/target
frontend/dist/
frontend/node/
frontend/node_modules/
frontend/npm-debug.log
frontend/target
frontend/test-output
frontend/tests/e2e/reports
frontend/tests/unit/coverage
frontend/yarn-error.log
frontend/yarn.lock